* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

input {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(225, 226, 226);
}

header {
    padding-top: 150px;
    max-width: 100%;
    min-width: 900px;
}

h1 {
    margin: 0;
    padding: 0;
}